<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <h1>Please Login</h1>
  <form action="/login/register" method="post">
    <input type="text" name="userName" placeholder="username">
    <input type="password" name="password"  placeholder="password">
    <button type="submit" name"submit">Login</button>
  </form>
</body>
</html>